%header
	#header
		.content
			#header_content
				#header_logo
					= link_to nil, root_path
					%span A Simple Test Data Generator
				#header_nav
					= render_navigation(:context => :application_header, :level => 1)
				.clearfix